/* ../../../AppData/Local/Temp/tmp-8512-oc7Oe30L3Rj6/190904c1cb83/navBar.module.css */
.navBar-module__topBarHeaderItem___piw4C_stats {
  -webkit-app-region: no-drag;
  display: inline-block;
  pointer-events: auto;
}
.navBar-module__topBarHeaderItemLink___xA4uv_stats {
  margin: 0 8px 0 0;
}
.navBar-module__topBarActive___XhWpm_stats {
  background-color: var(--spice-tab-active);
  border-radius: 4px;
}
.navBar-module__topBarHeaderItemLink___xA4uv_stats {
  border-radius: 4px;
  color: var(--spice-text);
  display: inline-block;
  margin: 0 8px;
  padding: 8px 16px;
  position: relative;
  text-decoration: none !important;
  cursor: pointer;
}
.navBar-module__topBarNav___qWGeZ_stats {
  -webkit-app-region: drag;
  pointer-events: none;
  width: 100%;
}
.navBar-module__topBarHeaderItem___piw4C_stats .navBar-module__optionsMenuDropBox___pzfNI_stats {
  color: var(--spice-text);
  border: 0;
  max-width: 150px;
  height: 42px;
  padding: 0 30px 0 12px;
  background-color: initial;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.navBar-module__topBarHeaderItem___piw4C_stats .navBar-module__optionsMenuDropBox___pzfNI_stats svg {
  position: absolute;
  margin-left: 8px;
}
div.navBar-module__topBarHeaderItemLink___xA4uv_stats {
  padding: 0;
}

/* ../../../AppData/Local/Temp/tmp-8512-oc7Oe30L3Rj6/190904c1b520/app.css */
#stats-app .stats-gridInline {
  --grid-gap: 24px;
  grid-template-columns: repeat(10, 180px) !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-top: 5px;
}
#stats-app .grid:nth-child(2) {
  margin-top: 24px;
}
#stats-app [data-scroll=both] {
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
#stats-app [data-scroll=end] {
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%);
  mask-image: linear-gradient(to right, transparent, black 10%);
}
#stats-app [data-scroll=start] {
  -webkit-mask-image: linear-gradient(to right, black 90%, transparent);
  mask-image: linear-gradient(to right, black 90%, transparent);
}
#stats-app .stats-libraryOverview {
  display: flex;
  gap: 24px;
  align-items: center;
}
#stats-app .stats-trackPageTitle {
  display: flex;
  gap: 24px;
  align-items: center;
}
#stats-app .stats-scrollButton {
  width: 40px;
  border-radius: 8px;
  border: none;
  padding: 0;
  margin-right: 5px;
  background-color: var(--spice-player);
  color: var(--spice-subtext);
}
#stats-app .stats-scrollButton:hover {
  background-color: var(--spice-card);
  color: var(--spice-text);
}
#stats-app .stats-tracklistHeader > div {
  display: flex;
  -webkit-app-region: no-drag;
  gap: 20px;
  align-items: center;
}
#stats-app .stats-make-playlist-button {
  margin-inline-start: 12px;
}
#stats-app .stats-genreCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  border-radius: 8px;
  background: var(--spice-player);
  position: relative;
}
#stats-app .stats-genreRow {
  width: 100%;
  height: 20px;
  display: flex;
  gap: 10px;
}
#stats-app .stats-genreRowFill {
  background: var(--spice-button);
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
#stats-app .stats-genreText {
  color: var(--spice-player);
  font-size: 0.875rem;
  margin-left: 7px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#stats-app .stats-genreValue {
  color: var(--spice-text);
  font-size: 0.875rem;
}
#stats-app .stats-genreCard + .stats-gridInlineSection {
  margin-top: 3px;
}
#stats-app .main-trackList-rowHeartButton,
#stats-app .main-trackList-rowMoreButton {
  background-color: transparent;
  border: none;
}
#stats-app .main-trackList-rowPlayPauseIcon {
  fill: currentColor;
}
#stats-app .badge {
  position: absolute;
  top: 3%;
  left: 3%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(65, 110, 170);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
#stats-app .extend-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
  color: var(--spice-subtext);
}
#stats-app .extend-button:hover {
  color: var(--spice-text);
}
.GenericModal[aria-label="Playlist Stats"] .main-embedWidgetGenerator-container {
  width: 80vw;
  height: 80vh;
  background-color: var(--spice-main);
}
.GenericModal[aria-label="Playlist Stats"] .main-shelf-title {
  color: var(--spice-text);
}

/* ../../../AppData/Local/Temp/tmp-8512-oc7Oe30L3Rj6/190904c1c901/config_modal.css */
.config-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.config-container .section-header {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--spice-text);
}
.config-container .col.description {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--spice-subtext);
}
.config-container .disabled {
  opacity: 0;
  pointer-events: none;
}
.config-container .text-input {
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--spice-text);
  font-family: inherit;
  font-size: 14px;
  height: 32px;
  padding: 0 12px;
  width: 100%;
}
.config-container .text-input:focus {
  background-color: var(--spice-tab-active);
  border: 1px solid var(--spice-button-disabled);
  outline: none;
}
.config-container .dropdown-input {
  background-color: var(--spice-tab-active);
  border: 0;
  border-radius: 4px;
  color: rgba(var(--spice-rgb-selected-row), 0.7);
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  letter-spacing: 0.24px;
  line-height: 20px;
  padding: 0 32px 0 12px;
  width: 100%;
}
.config-container .tooltip-icon {
  float: right;
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 22px;
  fill: var(--spice-subtext);
}
.config-container .tooltip-icon:hover {
  fill: var(--spice-text);
}
.config-container .tooltip {
  text-align: center;
}
.config-container .setting-row {
  display: flex;
  justify-content: space-between;
}
.config-container .playback-progressbar {
  width: 200px;
}

/* ../../../AppData/Local/Temp/tmp-8512-oc7Oe30L3Rj6/190904c1c9e2/shared.css */
.grid {
  --grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
}
.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
  gap: 16px;
}
.loadingWrapper .status-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}
.page-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.page-header {
  align-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
.page-header .header-right,
.page-header .header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.page-header .header-right {
  justify-content: flex-end;
}
.page-header .header-left {
  justify-content: flex-start;
}
.new-update {
  background-color: var(--spice-player);
  color: var(--spice-text);
  border-radius: 8px;
  padding: 2px 12px;
  margin: 0 24px;
  border: 0px;
}
