.stats-grid {
    --grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)) !important;
}

.stats-refreshButton {
    width: 32px;
    height: 32px;
}
.collection-searchBar-searchBar {
    display: flex;
    gap: 8px;
}

.stats-specialGrid {
    grid-template-columns: repeat(11, 180px) !important;
}

.stats-gridInline {
    --grid-gap: 24px;
    grid-template-columns: repeat(10, 180px) !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-top: 5px;
}

[data-scroll="both"] {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
[data-scroll="end"] {
    mask-image: linear-gradient(to right, transparent, black 10%);
}
[data-scroll="start"] {
    mask-image: linear-gradient(to right, black 90%, transparent);
}

.stats-loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
    gap: 16px;
}

.stats-libraryOverview {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 16px;
}

.stats-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.stats-trackPageTitle {
    display: flex;
    gap: 24px;
    align-items: center;
}

.stats-scrollButton {
    width: 40px;
    border-radius: 8px;
    border: none;
    padding: 0;
    margin-right: 5px;
    background-color: var(--spice-player);
    color: var(--spice-subtext);

    &:hover {
        background-color: var(--spice-card);
    }
}

.stats-createPlaylistButton {
    margin-left: 24px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 0.8125rem;
    font-weight: 700;
    font-family: var(
        --font-family,
        CircularSp,
        CircularSp-Arab,
        CircularSp-Hebr,
        CircularSp-Cyrl,
        CircularSp-Grek,
        CircularSp-Deva,
        var(--fallback-fonts, sans-serif)
    );
    background-color: transparent;
    border-radius: 500px;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding-block: 3px;
    padding-inline: 15px;
    border: 1px solid var(--essential-subdued, #878787);
    color: var(--text-base, #000000);
    min-block-size: 32px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    &:hover {
        transform: scale(1.04);
        border-color: var(--essential-base, #000000);
    }
}

.stats-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    align-items: center;
    color: var(--spice-text);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.stats-tracklistHeader > div {
    display: flex;
    -webkit-app-region: no-drag;
    gap: 20px;
    align-items: center;
}

.stats-genreCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    border-radius: 8px;
    background: var(--spice-player);
    position: relative;
}

.stats-genreRow {
    width: 100%;
    height: 20px;
    display: flex;
    gap: 10px;
}

.stats-genreRowFill {
    background: var(--spice-button);
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.stats-genreText {
    color: var(--spice-player);
    font-size: 0.875rem;
    margin-left: 7px;
    font-weight: bold;
}

.stats-genreValue {
    color: var(--spice-text);
    font-size: 0.875rem;
}

.stats-cardValue {
    font-size: 2rem;
    font-weight: bold;
    color: var(--spice-text);
}

.stats-cardText {
    color: var(--spice-text);
}

.new-update {
    background-color: var(--spice-player);
    color: var(--spice-text);
    border-radius: 8px;
    padding: 2px 12px;
    margin: 0 24px;
    border: 0px;
}

.GenericModal[aria-label="Playlist Stats"] .main-embedWidgetGenerator-container {
    width: 80vw;
    height: 80vh;
    background-color: var(--spice-main);
}
.GenericModal[aria-label="Playlist Stats"] .main-shelf-title {
    color: var(--spice-text);
}

.status-icon {
    width: 40px;
    height: 40px;
    fill: currentColor;
}
