.grid {
    --grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
    gap: 16px;

    .status-icon {
        width: 40px;
        height: 40px;
        fill: currentColor;
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.badge {
    position: absolute;
    top: 3%;
    left: 3%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(65, 110, 170);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.page-header {
    align-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;

    .header-right,
    .header-left {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .header-right {
        justify-content: flex-end;
    }

    .header-left {
        justify-content: flex-start;
    }
}

.new-update {
    background-color: var(--spice-player);
    color: var(--spice-text);
    border-radius: 8px;
    padding: 2px 12px;
    margin: 0 24px;
    border: 0px;
}

.x-sortBox-sortDropdown {
    fill: rgba(var(--spice-rgb-selected-row), .7);

    &>span {
        display: flex;
        align-items: center;
        gap: 10px;

        &>svg {
            width: 14px;
            height: 14px;
        }
    }
}

// make sure the popup modal close button is always clickable
.main-trackCreditsModal-closeBtn {
    -webkit-app-region: no-drag;
}

.navbar-container {
    padding-inline: 40px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 var(--content-spacing);
}

#library-app > :first-child, #stats-app > :first-child {
    margin-top: 64px;
}
