#stats-app {
    .stats-gridInline {
        --grid-gap: 24px;
        grid-template-columns: repeat(10, 180px) !important;
        overflow-x: hidden;
        scroll-behavior: smooth;
        margin-top: 5px;
        transform: none !important;
        will-change: auto !important;
    }

    .grid:nth-child(2) {
        margin-top: 24px;
    }



    [data-scroll="both"] {
        mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    }

    [data-scroll="end"] {
        mask-image: linear-gradient(to right, transparent, black 10%);
    }

    [data-scroll="start"] {
        mask-image: linear-gradient(to right, black 90%, transparent);
    }

    .stats-libraryOverview {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .stats-trackPageTitle {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .stats-scrollButton {
        width: 40px;
        border-radius: 8px;
        border: none;
        padding: 0;
        margin-right: 5px;
        background-color: var(--spice-player);
        color: var(--spice-subtext);

        &:hover {
            background-color: var(--spice-card);
            color: var(--spice-text);
        }
    }

    .stats-tracklistHeader>div {
        display: flex;
        -webkit-app-region: no-drag;
        gap: 20px;
        align-items: center;
    }

    .stats-make-playlist-button {
        margin-inline-start: 12px;
    }

    .stats-genreCard {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 16px;
        border-radius: 8px;
        background: var(--spice-player);
        position: relative;
    }

    .stats-genreRow {
        width: 100%;
        height: 20px;
        display: flex;
        gap: 10px;
    }

    .stats-genreRowFill {
        background: var(--spice-button);
        height: 100%;
        border-radius: 8px;
        display: flex;
        align-items: center;
    }

    .stats-genreText {
        color: var(--spice-player);
        font-size: 0.875rem;
        margin-left: 7px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .stats-genreValue {
        color: var(--spice-text);
        font-size: 0.875rem;
    }

    .stats-genreCard+.stats-gridInlineSection {
        margin-top: 3px;
    }

    // fix styles for old trackrow clone component
    .main-trackList-rowHeartButton,
    .main-trackList-rowMoreButton {
        background-color: transparent;
        border: none;
        fill: currentColor;
    }

    .main-trackList-rowPlayPauseIcon,
    .main-trackList-durationHeader {
        fill: currentColor;
    }

    .main-trackList-rowBadges {
        color: var(--spice-text);
    }

    .extend-button {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 14px;
        color: var(--spice-subtext);

        &:hover {
            color: var(--spice-text);
        }
    }

    .main-card-cardContainer {
        width: 100%;
        height: 100%;
    }

}

.GenericModal[aria-label="Playlist Stats"] .main-embedWidgetGenerator-container {
    width: 80vw;
    height: 80vh;
    background-color: var(--spice-main);
}

.GenericModal[aria-label="Playlist Stats"] .main-shelf-title {
    color: var(--spice-text);
}